body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  color: #000;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.search-index {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 320px;
  max-width: 540px;
  height: 40px;
  display: flex;
  background-color: #f6f6f6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.search {
  height: 26px;
  border: 1px solid #ccc;
  flex: 1;
  margin: 7px 10px;
  border-radius: 5px;
  position: relative;
  font-size: 12px;
  color: #666;
  line-height: 24px;
  padding-left: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search::before {}

.user {
  width: 40px;
  height: 44px;
  font-size: 12px;
  text-align: center;
  color: #2eaae0;
}

.user::before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background: url('images/user.png');
  background-size: 104px auto;
  margin: 3px auto -2px;
}

.focus {
  margin-top: 40px;
}

.focus img {
  width: 100%;
}

.local-nav {
  display: flex;
  height: 64px;
  background-color: #fff;
  border-radius: 8px;
  margin: 3px 4px;
}

ul {
  list-style: none;
}

.local-nav li {
  flex: 1;
}

.local-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.local-nav li a .local-nav-icon {
  width: 32px;
  height: 32px;
  margin-top: 8px;
  background: url(../images/localnav_bg.png) no-repeat 0 0;
  background-size: 32px auto;
}